.us-main {
  background-image: url(../../../images//png/aboutgroupimage.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  padding-left: 60px;
}
/* .us-main {
  background-image: url(../../../images//png/aboutgroupimage.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  align-items: center;
  padding-left: 60px;
} */

.bg-color-gradient {
  /* background: linear-gradient(100deg, #667eea 0%, #764ba2 100%); */
  /* background: linear-gradient(180deg, #f8f6ff 0%, #ffffff 100%); */
  /* background: linear-gradient(180deg, #faf9ff 0%, #8191fd 100%); */
  /* background: radial-gradient(
    circle at 20% 50%,
    #120a8f 0%,
    #000000 50%,
    #0f4c75 100%
  ); */
  /*background: linear-gradient(
    45deg,
    #ff6b6b,
    #4ecdc4,
    #45b7d1,
    #96ceb4,
    #feca57
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
  /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  /* background: linear-gradient(
    45deg,
    #0f172a 0%,
    #1e293b 25%,
    #334155 50%,
    #475569 100%
  ); */
  /* background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%); */
}

.us-header {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 800;
}
.us-main-content p {
  font-size: 1.25rem;
  color: #eee;
  max-width: 550px;
}
/* What we build */
.soft-dev-header {
  position: relative;
  padding-bottom: 10px;
}
.soft-wrapper {
  padding: 30px 0px;
}
.soft-dev-content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
/* call to action */
.soft-cta {
  background-color: #071d6a;
  /* background-image: linear-gradient(to right, #f0f0f0 1px, transparent 1px),
    linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
  background-size: 200px 200px; */

  padding: 100px;
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
}
.cta-header {
  font-size: 2rem;
  margin-bottom: 10px;
}
.soft-cta h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.soft-cta p {
  font-size: 1.1rem;
}

@media (max-width: 767px) {
  .soft-cta h2 {
    font-size: 1.5rem;
  }

  .soft-cta p {
    font-size: 1rem;
  }
  .us-main {
    height: 330px;
    padding-left: 20px;
  }
}
.soft-cta-button {
  margin-top: 40px;
  display: inline-block;
  background-color: #ffffff;
  color: #071d6a;
  padding: 10px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.soft-cta-button:hover{
  background-color: #071d6a;
  color:#ffffff; ;
}
/* Medium screens (tablets) */
@media (max-width: 1023px) {
  .software-header {
    font-size: 3rem;
  }

  .software-main {
    padding-left: 40px;
    padding-right: 40px;
  }

  .software-main-content p {
    font-size: 1.125rem;
  }
}

/* Small screens (phones) */
@media (max-width: 767px) {
  .us-main {
    padding-top: 15px;
    background-repeat: no-repeat;
  }

  .us-header {
    font-size: 32px;
  }
  .software-main {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }

  .software-header {
    font-size: 2rem;
  }

  .software-main-content {
    max-width: 100%;
  }

  .software-main-content p {
    font-size: 1rem;
    max-width: 100%;
  }
}
